<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
</head>

<body>
    <h1>This is all listings</h1>
    <% for(listing of AllListing){ %>
        <ul>
            <li>
                <a href="/listings/<%= listing._id %>">
                    <%= listing.title %>
                </a>
            </li>
        </ul>
        <% } %>
</body>

</html>